Wiz/Products/Debug/WizNote.exe
Wiz/Products/Debug/WizNote.ilk
Wiz/Products/Debug/WizNote.pdb
Wiz/WizNote/Win32/*
Wiz/WizNote/WizNote.ncb
Wiz/WizNote/WizNote.suo
Wiz/WizNote/WizNote.vcproj.jelly-PC2.jelly.user