Wiz/Products/Debug/WizTasks.exe
Wiz/Products/Debug/WizTasks.ilk
Wiz/Products/Debug/WizTasks.pdb
Wiz/Products/Debug/WizTasks.rar
Wiz/WizTasks/Win32/*
Wiz/WizTasks/WizTodo.aps
Wiz/WizTasks/WizTasks.aps
Wiz/WizTasks/WizTasks.ncb
Wiz/WizTasks/WizTasks.suo
Wiz/WizTasks/WizTasks.vcproj.jelly-PC2.jelly.user
