Wiz/Products/Release/WizTasks.exe
Wiz/Products/Debug/WizTasks.exe
Wiz/Products/Debug/WizTasks.ilk
Wiz/Products/Debug/WizTasks.pdb
Wiz/Products/Debug/WizTasks.rar
Wiz/WizTasks/Win32/*
Wiz/WizTasks/WizTasks.aps
Wiz/WizTasks/WizTasks.ncb
Wiz/WizTasks/WizTasks.suo
Wiz/WizTasks/WizTasks.vcproj.jelly-PC2.jelly.user

Wiz/Products/Debug/translations/1028/NPWizWebCapture.ini
Wiz/Products/Debug/translations/1028/Wiz.ini
Wiz/Products/Debug/translations/1028/WizHtmlEditor.ini
Wiz/Products/Debug/translations/1028/WizKMSendTo.ini
Wiz/Products/Debug/translations/1028/WizViewer.ini
Wiz/Products/Debug/translations/1028/WizWebCaptureResourceToArticle.ini
Wiz/Products/Debug/translations/2052/NPWizWebCapture.ini
Wiz/Products/Debug/translations/2052/Wiz.ini
Wiz/Products/Debug/translations/2052/WizHtmlEditor.ini
Wiz/Products/Debug/translations/2052/WizKMSendTo.ini
Wiz/Products/Debug/translations/2052/WizViewer.ini
Wiz/Products/Debug/translations/2052/WizWebCaptureResourceToArticle.ini
Wiz/Products/Debug/translations/default/NPWizWebCapture.ini
Wiz/Products/Debug/translations/default/Wiz.ini
Wiz/Products/Debug/translations/default/WizHtmlEditor.ini
Wiz/Products/Debug/translations/default/WizKMSendTo.ini
Wiz/Products/Debug/translations/default/WizViewer.ini
Wiz/Products/Debug/translations/default/WizWebCaptureResourceToArticle.ini
